<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!--Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LibraryList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">LogIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">Main</a>
            </li>
        </ul>
        <div class="navbar-text mr-3">[[${#httpServletRequest.remoteUser}]]!</div>
    </div>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-primary" type="submit">Sign Out</button>
    </form>
</nav>
<!--Навигационная панель -->
<div class="container">
    <div th:switch="${users}">
        <h2 th:case="null">No users found!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Patronymic</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Position</th>
                    <th scope="col">Department</th>
                    <th scope="col">Roles</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.patronymic}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.position}"></td>
                    <td th:text="${user.department}"></td>
                    <td th:text="${user.roles}"></td>
                    <div class="user">
                        <ul>
                            <li th:each="role : ${roles}">
                                <input type="checkbox" th:field="*{roles}" th:value="${role}"/>
                                <label th:for="${#ids.prev('roles')}"
                                       th:text="${role}"></label>
                            </li>
                        </ul>
                    </div>
                    <td><a class="btn btn-success btn-sm" th:href="@{/user/{id}(id=${user.id})}" role="button">Edit</a>
                    </td>
                    <td><a class="btn btn-danger btn-sm" th:href="@{/user/delete/{id}(id=${user.id})}" role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" href="/user/add" role="button">Add user</a>
    <a class="btn btn-primary" href="/" role="button">Back</a>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>